.img-thumbnail {
    margin: 25px;
    width: 10%;
    height: 10%;
}

.card-body {
    padding: 0 25px;
}   
.card-footer {
    padding: 10px 15px;
    background-color: #f8f9fa;
    border-top: none solid #dee2e6;
}   
.thumb { 
    display: inline-block; margin-bottom: 20px; 
}
