@if(member)
{
  <div class="row" >
    <div class="col-4">
    <h2>Your Profile  {{ member.username | titlecase }}</h2>
    </div>
    <div class="col-8">
        
    @if(editForm.dirty ){
            <div class="alert alert-info pb-0">
                <p><strong>Information:</strong>
                You have made changes. Any unsaved changes will be lost.</p>
            </div>
    } 
    </div>
        <div class="col-4">
            <div class="card">
                    <img 
                    src="{{ member.photoUrl || './assets/user.png'}}" 
                    alt="{{ member.knownAs }}" 
                    class="card-img img-thumbnail" >
                    <div class="card-body ">
                        <div>
                            <strong>Location:</strong>
                            <p>{{ member.city }}, {{ member.country }}</p>
                        </div>
                        <div>
                            <strong>Age:</strong>
                            <span>{{ member.age }}</span>
                        </div>
                                        <div>
                            <strong>Last Active:</strong>
                            <span>{{ member.lastActive}}</span>
                        </div>
                                        <div>
                            <strong>Member Since:</strong>
                            <p>{{ member.created}}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button 
                        [disabled]='!editForm.dirty'
                        form="editForm" 
                        type="submit" 
                        class="btn btn-success col-12">Save Changes
                    </button>

                    </div>  
                </div>
            </div>
    

        <div class="col-8">
            <tabset class="member-tabset" #memberTabs>
                    <tab heading="About {{ member.knownAs }}" >
                        <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
                            <h4 class="mt-2">Description</h4>
                            <textarea 
                                class="form-control" 
                                rows="6" 
                                [(ngModel)]="member.introduction" 
                                name="introduction">
                            </textarea>
                            <h4 class="mt-2">Looking for</h4>
                            <textarea 
                                class="form-control" 
                                rows="6" 
                                [(ngModel)]="member.lookingFor" 
                                name="lookingFor">
                            </textarea>
                            <h4 class="mt-2">Interests</h4>
                            <textarea 
                                class="form-control" 
                                rows="6" 
                                [(ngModel)]="member.interests" 
                                name="interests">
                            </textarea>
                       
                            <div class="d-flex align-items-center justify-content-between mt-3">
                                <label>City: </label>
                                <input
                                    type="text"
                                    class="form-control w-50"
                                    [(ngModel)]="member.city"
                                    name="city"
                                    >
                                <label class="ms-3">Country: </label>
                                <input
                                    type="text"
                                    class="form-control w-50"
                                    [(ngModel)]="member.country"
                                    name="country"
                                    >
                            </div>
                        
                        </form>

                    </tab>

                    <tab heading="Edit Photos" #photoTab="tab">
                        @if(photoTab.active)
                        {
                            <h4>Photos</h4>
                            
                            <gallery [items]="images" thumbPosition="left" class="gallery"></gallery>
                        }

                    </tab>
                    <tab heading="Messages">
                        <h4>Messages go here</h4>
                    </tab>
            </tabset>
    </div>

</div>

}


