<div class="row">
     <div class="text-center mt-3">
          <h2> Your matches - {{memberService.paginatedResult()?.pagination?.totalItems}}</h2>
     </div>

     @for(member of memberService.paginatedResult()?.items; track member.id){
    <div class="col-3" >
     <app-member-card [member]="member"></app-member-card>
    </div>
     }
</div>
    @if(memberService.paginatedResult()?.pagination){
     <div class="d-flex justify-content-center">
          <pagination 
               [boundaryLinks]="true" 
               [totalItems]="memberService.paginatedResult()?.pagination!.totalItems"
               [itemsPerPage]="memberService.paginatedResult()?.pagination!.itemsperPage"
               (pageChanged) ="pageChanged($event)"
               [maxSize]="20"
               previousText="&lsaquo;" 
               nextText="&rsaquo;" 
               firstText="&laquo;" 
               lastText="&raquo;">
          </pagination>
     </div>
     }

     


